*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #841816;
    color: #ffffff;
    height: 100vh;
    width: 200px;
    transition: all 0.2s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}

.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
    cursor: pointer;
}

.LogOut{
    padding-bottom: 30px;
}

.link{
    display: flex;
    color: #ffffff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.2s;
}
.link:hover{
    background: #f8b688;
    color: #841816;
    transition: all 0.2s;
}
.active{
    background: #f8b688;
    color: #841816;
}
.icon, .link_text{
    font-size: 20px;
}

.quickStatsSection{
    flex: inherit;
    padding: 2%;
    height: 100px;
}

.block{
    height: 100px;
    width: 200px;
    margin: 10px 10px;
    background: #f8b688;
    border-radius: 8px;
    float: left;
}
.blockLabel{
    text-align: left;
    font-size: 20px;
    color: #841816;
    margin-top: 30px;
    margin-left: 30px;
}
.blockStats{
    text-align: left;
    font-size: 15px;
    margin-left: 30px;
}

.graphsSection{
    height: 300px;
    padding: 2%;
    border-radius: 8px;
}

.pieChart{
    margin: 20px 10px;
    display: flex;
    position: relative;
    max-width: 500px;
    height: 300px;
    background: #4f4f4f;
    border-radius: 8px;
    float: left;
    padding: 10px;
}

.barChart{
    margin: 20px 10px;
    display: flex;
    position: relative;
    max-width: 600px;
    height: 300px;
    background: #d7d7d7;
    border-radius: 8px;
    float: left;
    padding: 10px;
}


/*Tabla Uno */

.barTable{
    width: 400px;
    background: #d7d7d7;
    border-radius: 8px;
    float: left;
    padding: 10px;
    margin: 20px 10px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: auto;
}

.barTable thead th {
    background-color: #4f4f4f;
    color: #f6f9fc;
    font-size: 15px;
    width: 100px;
}

.barTable th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    margin: 0;
    word-break: break-all;
    text-align: center;
}

.barTable tr:hover td {
    color: #b91116;
    cursor: pointer;
    background-color: #f6f9fc;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Termina Tabla Uno */
