*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #841816;
    color: #ffffff;
    height: 100vh;
    width: 200px;
    transition: all 0.2s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}

.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
    cursor: pointer;
}

.LogOut{
    padding-bottom: 30px;
}

.link{
    display: flex;
    color: #ffffff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.2s;
}
.link:hover{
    background: #f8b688;
    color: #841816;
    transition: all 0.2s;
}
.active{
    background: #f8b688;
    color: #841816;
}
.icon, .link_text{
    font-size: 20px;
}

.graph{
    display: flex;
    position: relative;
    max-width: 500px;
    height: 300px;
    background: #f3f3f3;
    border-radius: 8px;
    border-style: solid;
    border-color: #cecece;
    border-width: 1px;

}


.BarGraphLine{
    position:absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: rgba(196, 196, 196, 0.06);
    left: 10%;
}

.bar-text-content{
    height: 100%;
    width: 20%;
    padding-top: 11%;
    padding-left: 3%;
    padding-right: 3%;
}

.bar-lines-container{
    width: 88%;
    height: 100%;

}

.rbar{
    margin-top: 10.66666667%;
    margin-bottom: 10.66666667%;
    height: 15%;
    background: #77e042;
    z-index: 25;
    border-radius: 8px;
}

.pbar{
    margin-top: 10.66666667%;
    margin-bottom: 10.66666667%;
    height: 15%;
    background: #42a3e0;
    z-index: 25;
    border-radius: 8px;
}

.cbar{
    margin-top: 10.66666667%;
    margin-bottom: 10.66666667%;
    height: 15%;
    background: #e04242;
    z-index: 25;
    border-radius: 8px;
}

.labeldiv{
    height: 19%;
}

.chartlabel{
    font-family: Helvetica, sans-serif, l;
    color: #595959;
}

